@page "/products"
@using PetStockBlazor.Models
@using PetStockBlazor.Services
@inject FakeDataService DataService

<PageTitle>Products List</PageTitle>

<h3>Products List</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>StockQuantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.StockQuantity</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Product> products = new();

    protected override void OnInitialized()
    {
        products = DataService.GetProducts();
    }
   
}